//couleur
$bleu-claire: #3399cc;
$bleu-foncé: #2b489e;

//front
$jaune: #fec262;
$rouge-claire: #e74c3c;

//back
$rouge: #d91e18;
$pourpre: #96281b;

//gris
$gris-claire:#faf9f8;
$gris: #f2f1ee;
$gris-foncé:#ebeae4;

$transition: linear 0.1s;
